<default-login-layout
    title="Sign in and start today!t"
    primaryBtnText="Signup Now"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <form [formGroup]="signupForm">
        <primary-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Your name"
            placeholder="John Doe"
        >
            <img src="email-icon.svg"/>
        </primary-input>
        <primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="johndoe@gmail.com"
        >
            <img src="email-icon.svg"/>
        </primary-input>
        <primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Password"
        >
        <img src="password-icon.svg"/>
    </primary-input>
    <primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirm your Password"
    >
        <img src="password-icon.svg"/>
    </primary-input>
    </form>
</default-login-layout>